<app-location-search #locationSearch></app-location-search>
<button (click)="showArea()" mat-raised-button>Show area</button>
<agm-map #agmMap>
  <agm-marker *ngIf="selectedResult" [latitude]="selectedResult.coordinates.lat" [longitude]="selectedResult.coordinates.lng">
    <agm-info-window *ngIf="selectedResult" isOpen="true">
      <app-info-card [item]="selectedResult"></app-info-card>
    </agm-info-window>
  </agm-marker>
  <agm-marker *ngFor="let point of points | async" [latitude]="point.coordinates.lat" [longitude]="point.coordinates.lng">
    <agm-info-window *ngIf="point">
      <app-info-card [item]="point"></app-info-card>
    </agm-info-window>
  </agm-marker>
</agm-map>