.btn {
  padding: 10px 20px;
  button {
    width: 100%;
  }
}

.wrapper {
  overflow-y: auto;
  height: calc(100vh - 257px);
}

:host {
  display: flex;
  flex-direction: column;
}

mat-panel-title {
  font-size: 13px;
}

mat-panel-description {
  font-size: 13px;
}

mat-panel-title {
  max-width: 150px;
  min-width: 150px;
  span {
    margin-right: 10px;
    font-weight: 500;
  }
}

mat-panel-description {
  max-width: 120px;
  min-width: 120px;
}